S3method(apsrtableSummary, clogit)
S3method(apsrtableSummary, gee)
S3method(apsrtableSummary, lrm)
S3method(apsrtableSummary, negbin)
S3method(apsrtableSummary, polr)
S3method(apsrtableSummary, rms)
S3method(print,apsrtable)
export(apsrtable)
export(apsrtableSummary)
exportMethods(apsrtableSummary)
import(lme4)
